* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
   font-size:62.5%;
}

body {
	position: relative;
}

header .navbar {
	height: 124px;
}

header .navbar.navbar-fixed-top {
	background: #E9E9E9;
}

header .nav.navbar-nav li.active {
	border-bottom: 2px solid blue ;
}

section {
	border: 1px solid green;
}

#home {
	position: relative;
}

#home .block-footer {
	display: table;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 252px;
	background: url("../img/home_background.png");
	-webkit-background-size: cover;
	        background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

#home .block-footer .footer__text {
	display: table-cell;
	vertical-align: bottom;
}

#about-us {
	background: url("../img/aboutus_background.png");
	-webkit-background-size: cover;
	        background-size: cover;
}

.about-us__title {
	display: inline-block;
	padding: 1rem;
	border: 2px dashed #AD1982;
}

.about-us__title span {
	color: #AD1982;
}

.block-hexagono {
	position: relative;
}

.block-hexagono .block-hexagono-item:not(:nth-of-type(3)) {
	position: absolute;
	max-width: 210px;
}

.block-hexagono .block-hexagono-item {
	font-size: 2.3rem;
	line-height: 2.4rem;
}

.block-hexagono .block-hexagono-item strong {
	color: #AD1982;
}

.block-hexagono .block-hexagono-item:first-of-type {
	top: 5rem;
	left: 0;
	text-align: right;
}

.block-hexagono .block-hexagono-item:nth-of-type(2) {
	bottom: 7rem;
	left: 0;
	text-align: right;
}

.block-hexagono .block-hexagono-item:nth-of-type(4) {
	bottom: 7rem;
	right: 0;
	text-align: left;
}

.block-hexagono .block-hexagono-item:nth-of-type(5) {
	top: 5rem;
	right: 0;
	text-align: left;
}

#you-know {
	background: url("../img/youknow_background.png");
	-webkit-background-size: cover;
	        background-size: cover;
}

.block-youknow-list__text {
	font-size: 2.2rem;
	line-height: 2.3rem;
	color: #fff;
}

.block-youknow-list ul {
	max-width: 720px;
	margin: 0 auto;
}

.block-youknow-list__figure {
	display: table-cell;
	vertical-align: middle;
	min-width: 176px;
}

.block-youknow-list__text {
	display: table-cell;
	vertical-align: middle;
}

#benefits {
	background: url("../img/benefits_background.png");
	-webkit-background-size: cover;
	        background-size: cover;
}

.benefits__wrapper {
	max-width: 936px;
	margin: 0 auto;
}

.benefits__wrapper .owl-carousel.owl-theme {
	padding: 0 4rem;
	position: relative;
}

.benefits__wrapper .owl-carousel.owl-theme .owl-prev {
	position: absolute;
	top: 50%;
	left: 0;
}

.benefits__wrapper .owl-carousel.owl-theme .owl-next {
	position: absolute;
	top: 50%;
	right: 0;
}

.benefits__wrapper .block-description {
	border: 2px dashed #AD1982;
}

.benefits__text {
	font-size: 2.2rem;
	line-height: 2.3rem;
}

.block-description .benefits__text,
.block-description .benefits__figure,
#owl-benefits-carousel .benefits__text,
#owl-benefits-carousel .benefits__figure {
	display: table-cell;
	vertical-align: middle;
}

#owl-benefits-carousel .benefits__text,
#owl-benefits-carousel .benefits__figure {
	width: 50%;
}

#owl-benefits-carousel .benefits__text {
	padding: 0 4rem;
}

#owl-benefits-carousel .benefits__figure {
	text-align: center;
}

.benefits__wrapper .item > div {
	display: table;
	width: 100%;
}

#owl-benefits-carousel .benefits__figure img {
	width: 282px;
	height: 195px;
}

#benefits .block-items ul {
	display: table;
	margin: 0 auto;
}

#benefits .block-items li {
	display: table-cell;
	vertical-align: bottom;
}

#help {
	background: url("../img/help_background.png");
	-webkit-background-size: cover;
	        background-size: cover;	
}

.help__wrapper {
	max-width: 940px;
	margin: 0  auto;
}

#wins {
	padding-bottom: 13.5rem;
	background: url("../img/wins_background.png");
	-webkit-background-size: cover;
	        background-size: cover;	
}

.wins__wrapper {
	max-width: 566px;
	margin: 0 auto;
}

footer {
	background: url("../img/wins_background_footer.png");	
	-webkit-background-size: cover;	
	        background-size: cover;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}