/*
 * @author: marco torres
 */

/*@font-face {
  font-family: 'Intro';
  src: url('../fonts/intro.eot');
  src: url('../fonts/intro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/intro.woff2') format('woff2'),
  url('../fonts/intro.woff') format('woff'),
  url('../fonts/intro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/

body {
  background: #fff;
  font-family: "Montserrat Light", Arial, "Georgia", serif;
  font-size: 12px;
  line-height: 1.4em;
  color: #141111;
}

a, 
a:link, 
a:visited, 
a.visited {
  color: #333;
}

a:hover, 
a:active, 
a:focus {
  background-color: none !important;
  outline: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Intro Head R Base", Arial;
}

/* Blockquote */

blockquote {
  background: #F8F8F8;
  border-left: none;
  font-size: 14px;
  margin: 20px 0;
  padding: 15px 5px;
}

blockquote .info-left {
  font-family: 'Intro Head R Base';
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
}

blockquote .info-right p {
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}

img {
  max-width: 100%;
}

input, 
.form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-submit, 
.form-reset {
  border: 1px solid #E63A38;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #E63A38;
  color: #fff;
  font-size: 11px;
  font-weight: normal;
  height: 30px;
  line-height: 10px;
  margin: 0 2px;
  padding: 8px 25px;
  text-align: center;
}

.form-submit:hover, 
.form-reset:hover {
  background: #222222;
  color: #fff;
}

/* Clearfix */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}

/* Header */

header {
  height: 116px;
  overflow: hidden;
}

/*header .navbar > .container {
  position: relative;
}

header h1 {
  margin: 0;
}

header .navbar-brand {
  padding: 0;
}*/

.navbar {
  background: #F3F3F3;
}

/*.navbar-header .navbar-brand {
  margin-top: 12px;
}*/

/* Footer */

.footer-block {
  padding-bottom: 20px;
  padding-top: 48px;
}

#footer-block-phone {
  background: url('../img/phone.png') no-repeat 80px 6px;
  padding-top: 40px;
}

.footer-block-content {
  background: url('../img/quater.png') no-repeat 0 2px;
  padding-left: 20px;
}

#footer-block-phone .footer-block-content {
  background-position: 0 10px;
}

.footer-block-content h3 {
  font-family: "Open Sans Condensed", Arial, "Georgia", serif;
  margin-top: 0;
}

#footer-block-phone h3 {
  font-size: 30px;
  font-weight: 600;
}

#footer-block-social h3 {
  font-size: 17px;
  font-weight: 700;
}

#footer-block-phone h3 span {
  color: #fc3a00;
  font-size: 33px;
  font-style: italic;
  font-weight: normal;
}

.footer-block-content p {
  font-size: 11px;
  font-style: italic;
}

#copyright {
 /* background: #222222;
  color: #9d9d9d;
  padding: 20px 0 15px;*/
  text-align: center;
}

@media (min-width: 1200px) {
  .container {
    width: 992px;
  }
}
/*
@media only screen and (min-width : 767px) {
  .navbar-nav {
    display: block;
    float: left;
    margin-left: 7%;
  }
  .navbar>.container .navbar-brand, 
  .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
  }
  .navbar-nav > li {
    display: inline-block;
    float: none;
  }
  .navbar-nav > li > a {
    color: #ccc;
    display: inline-block;
    float: none;
    font-size: 16px;
    height: 85px;
    padding: 30px 20px;
  }
  .navbar-nav > li:last-child a {
    padding-right: 0;
  }
  .navbar-nav > li a.active, 
  .navbar-nav > li.active a, 
  .navbar-nav > li a:hover, 
  .navbar-nav > li a:active, 
  .navbar-nav > li a:focus {*/
    /*background: url('../img/hover.png') no-repeat 0 16px;*/
/*    background: none;
    color: #fff !important;
    text-decoration: underline;

@media only screen and (max-width : 767px) {
  header {
    height: 65px;
  }
  .navbar-social {
    display: none;
  }
  .navbar {
    margin-bottom: 0;
  }
  .container-fluid > .navbar-collapse, 
  .container-fluid > .navbar-header, 
  .container > .navbar-collapse, 
  .container > .navbar-header {
    background: rgba(1, 67, 130, 1) !important;
    height: 65px;
  }
  .navbar-collapse {
    border-top: none;
  }
  header .navbar-brand {
    height: 40px;
    margin-left: 30px;
  }
  header .navbar-brand img {
    width: 72%;
    height: auto;
  }
  .navbar-toggle {
    margin-bottom: 14px;
    margin-top: 14px;
  }
  .navbar-toggle .icon-bar {
    background-color: #FE4500 !important;
    height: 4px;
    width: 25px;
  }
  .navbar-default .navbar-toggle:hover, 
  .navbar-default .navbar-toggle:focus {
    background-color: #FFF !important;
  }
  .navbar-default .navbar-toggle {
    background: transparent;
    border: none;
    margin: 0;
  }
  .navbar {
    background: none;
  }
  .navbar-fixed-top .navbar-collapse, 
  .navbar-fixed-bottom .navbar-collapse {
    background: rgba(1, 67, 130, 0.9) !important;
    float: right;
    margin-right: 0;
    margin-top: -5px;
    max-height: none;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .navbar-nav {
    margin: 0 !important;
  }
  .navbar .menu {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .nav > li {
    border-bottom: 1px solid #0054A7;
  }
  .nav > li a {
    color: #ccc;
    font-size: 20px;
    padding-left: 35px;
  }
  .nav > li a.active, 
  .nav > li.active a, 
  .nav > li a:hover, 
  .nav > li a:active, 
  .nav > li a:focus {
    background: url('../img/hover.png') no-repeat 15px -4px;
    color: #fff !important;
  }
  .owl-carousel .owl-wrapper-outer {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
}

@media only screen and (max-width : 400px) {
  .navbar-brand > img {
    padding-right: 0 !important;
    margin-top: 5px;
    width: 220px;
  }
}
  }
}*/