/*
 * @author: marco torres
 */

/*@font-face {
  font-family: 'Intro';
  src: url('../fonts/intro.eot');
  src: url('../fonts/intro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/intro.woff2') format('woff2'),
  url('../fonts/intro.woff') format('woff'),
  url('../fonts/intro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/

body {
  background: #fff;
  font-family: "Montserrat Light", Arial, "Georgia", serif;
  font-size: 12px;
  line-height: 1.4em;
  color: #141111;
}

a, 
a:link, 
a:visited, 
a.visited {
  color: #333;
}

a:hover, 
a:active, 
a:focus {
  background-color: none !important;
  outline: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Intro Head R Base", Arial;
}

/* Blockquote */

blockquote {
  background: #F8F8F8;
  border-left: none;
  font-size: 14px;
  margin: 20px 0;
  padding: 15px 5px;
}

blockquote .info-left {
  font-family: 'Intro Head R Base';
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
}

blockquote .info-right p {
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}

img {
  max-width: 100%;
}

input, 
.form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-submit, 
.form-reset {
  border: 1px solid #E63A38;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #E63A38;
  color: #fff;
  font-size: 11px;
  font-weight: normal;
  height: 30px;
  line-height: 10px;
  margin: 0 2px;
  padding: 8px 25px;
  text-align: center;
}

.form-submit:hover, 
.form-reset:hover {
  background: #222222;
  color: #fff;
}

/* Clearfix */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}

.navbar {
  background: #F3F3F3;
}

@media (min-width: 1200px) {
  .container {
    width: 992px;
  }
}
